<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
    <div id="msg"></div>
    <form id="contactForm" onsubmit="formSumbit(); return false;">
      <input type="text" id="name" name="name" placeholder="name" />
      <button type="submit">Sumbit</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      function formSumbit() {
        console.log("form submitted!");
        const contactForm = document.getElementById("contactForm");
        const payload = {
          name: document.getElementById("name").value,
        };
        axios.post("/api/v1/form", payload).then((res) => {
          document.getElementById("msg").innerHTML = res.data.msg;
          contactForm.reset();
        });
      }
    </script>
  </body>
</html>
